body {
    font-size: 8px;
}

.livre .container, #choix-boutique-ok .container {
    width: 100px;
    height: 45px;
    padding: 2px;
}

.qr-reader.ok, .qr-reader .ok{
    background: green;
    text-align: center;
    font-size: 16px;
}
.qr-reader.ko, .qr-reader .ko{
    background: red;
    text-align: center;
    font-size: 16px;
}
.qr-reader.kk, .qr-reader .kk{
    background: yellow;
    text-align: center;
    font-size: 16px;
}
.qr-reader button {
    vertical-align: middle;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

ul#coches {
    line-height: 10px;
}

#coches input{
    height: 8px;
    width: 8px;
}

#coches li {
    padding: 0;
    margin: 1px;
    border-radius: 1.5px;
}
